In [140]:
import pandas as pd

In [3]:
asthma_adults= pd.read_csv("https://raw.githubusercontent.com/Mary080102/Capston-Two/main/Raw%20data/NYC%20EH%20Data%20Portal%20-%20Asthma%20emergency%20department%20visits%20(adults)%20(full%20table).csv")
asthma_age_4= pd.read_csv("https://raw.githubusercontent.com/Mary080102/Capston-Two/main/Raw%20data/NYC%20EH%20Data%20Portal%20-%20Asthma%20emergency%20department%20visits%20(age%204%20and%20under)%20(full%20table).csv")
asthma_age5_17= pd.read_csv("https://raw.githubusercontent.com/Mary080102/Capston-Two/main/Raw%20data/NYC%20EH%20Data%20Portal%20-%20Asthma%20emergency%20department%20visits%20(age%205%20to%2017)%20(full%20table).csv")
no2=pd.read_csv("https://raw.githubusercontent.com/Mary080102/Capston-Two/main/Raw%20data/NYC%20EH%20Data%20Portal%20-%20Nitrogen%20dioxide%20(NO2)%20(full%20table).csv")
pm_2_5=pd.read_csv("https://raw.githubusercontent.com/Mary080102/Capston-Two/main/Raw%20data/NYC%20EH%20Data%20Portal%20-%20Fine%20particles%20(PM%202.5)%20(full%20table).csv")

In [4]:
asthma_adults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TimePeriod                        792 non-null    int64
 1   GeoType                           792 non-null    object
 2   GeoID                             792 non-null    int64
 3   GeoRank                           792 non-null    int64
 4   Geography                         792 non-null    object
 5   Age-adjusted rate per 10,000      791 non-null    object
 6   Estimated annual rate per 10,000  792 non-null    object
 7   Number                            792 non-null    object
dtypes: int64(3), object(5)
memory usage: 49.6+ KB

In [5]:
asthma_age_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TimePeriod                        839 non-null    int64
 1   GeoType                           839 non-null    object
 2   GeoID                             839 non-null    int64
 3   GeoRank                           839 non-null    int64
 4   Geography                         839 non-null    object
 5   Estimated annual rate per 10,000  839 non-null    object
 6   Number                            839 non-null    object
dtypes: int64(3), object(4)
memory usage: 46.0+ KB

In [6]:
asthma_age5_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TimePeriod                        839 non-null    int64
 1   GeoType                           839 non-null    object
 2   GeoID                             839 non-null    int64
 3   GeoRank                           839 non-null    int64
 4   Geography                         839 non-null    object
 5   Estimated annual rate per 10,000  839 non-null    object
 6   Number                            839 non-null    object
dtypes: int64(3), object(4)
memory usage: 46.0+ KB

In [7]:
no2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4554 entries, 0 to 4553
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TimePeriod           4554 non-null   object
 1   GeoType              4554 non-null   object
 2   GeoID                4554 non-null   int64
 3   GeoRank              4554 non-null   int64
 4   Geography            4554 non-null   object
 5   10th percentile ppb  4554 non-null   float64
 6   90th percentile ppb  4554 non-null   float64
 7   Mean ppb             4554 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 284.8+ KB

In [9]:
pm_2_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4554 entries, 0 to 4553
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TimePeriod              4554 non-null   object
 1   GeoType                 4554 non-null   object
 2   GeoID                   4554 non-null   int64
 3   GeoRank                 4554 non-null   int64
 4   Geography               4554 non-null   object
 5   10th percentile mcg/m3  4554 non-null   float64
 6   90th percentile mcg/m3  4554 non-null   float64
 7   Mean mcg/m3             4554 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 284.8+ KB

In [31]:
#rows to keep

rows_to_keep=["New York City","Staten Island","Manhattan"]

In [38]:
# creat new dataframe just for three neighborhood.
asthma_adults_sub= asthma_adults[asthma_adults["Geography"].isin(rows_to_keep)]

In [58]:
asthma_adults_sub.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,"Age-adjusted rate per 10,000","Estimated annual rate per 10,000",Number
103,2020,Borough,3,1,Manhattan,44.7,43.5,"6,290"
105,2020,Borough,5,1,Staten Island,35.1,33.2,"1,287"
106,2020,Citywide,1,0,New York City,48.4,47.7,"33,238"
210,2019,Borough,3,1,Manhattan,73.5,71.1,"10,543"
212,2019,Borough,5,1,Staten Island,55.4,52.3,"2,066"

In [45]:
asthma_adults_sub.isna().sum()

TimePeriod                          0
GeoType                             0
GeoID                               0
GeoRank                             0
Geography                           0
Age-adjusted rate per 10,000        1
Estimated annual rate per 10,000    0
Number                              0
dtype: int64

In [40]:
asthma_adults_sub["Geography"].duplicated().sum()

41

In [41]:
asthma_age_4_sub= asthma_age_4[asthma_age_4["Geography"].isin(rows_to_keep)]

In [42]:
asthma_age_4_sub.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,"Estimated annual rate per 10,000",Number
103,2020,Borough,3,1,Manhattan,58.6,454
105,2020,Borough,5,1,Staten Island,33.9,94
106,2020,Citywide,1,0,New York City,62.4,"3,357"
210,2019,Borough,3,1,Manhattan,193.0,"1,551"
212,2019,Borough,5,1,Staten Island,91.8,264

In [43]:
asthma_age_4_sub.isna().sum()

TimePeriod                          0
GeoType                             0
GeoID                               0
GeoRank                             0
Geography                           0
Estimated annual rate per 10,000    0
Number                              0
dtype: int64

In [44]:
asthma_age_4_sub.duplicated().sum()

0

In [46]:
asthma_age5_17_sub= asthma_age5_17[asthma_age5_17["Geography"].isin(rows_to_keep)]

In [47]:
asthma_age5_17_sub.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,"Estimated annual rate per 10,000",Number
103,2020,Borough,3,1,Manhattan,65.9,"1,088"
105,2020,Borough,5,1,Staten Island,27.3,218
106,2020,Citywide,1,0,New York City,57.1,"7,246"
210,2019,Borough,3,1,Manhattan,185.6,"3,046"
212,2019,Borough,5,1,Staten Island,73.1,585

In [48]:
asthma_age5_17_sub.isna().sum()

TimePeriod                          0
GeoType                             0
GeoID                               0
GeoRank                             0
Geography                           0
Estimated annual rate per 10,000    0
Number                              0
dtype: int64

In [49]:
asthma_age5_17_sub.duplicated().sum()

0

In [50]:
no2_sub= no2[no2["Geography"].isin(rows_to_keep)]

In [51]:
no2_sub.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,10th percentile ppb,90th percentile ppb,Mean ppb
137,Annual Average 2022,Borough,3,1,Manhattan,16.0,23.3,19.1
139,Annual Average 2022,Borough,5,1,Staten Island,8.4,13.9,11.2
140,Annual Average 2022,Citywide,1,0,New York City,10.8,18.1,14.7
278,Summer 2022,Borough,3,1,Manhattan,12.0,20.4,15.4
280,Summer 2022,Borough,5,1,Staten Island,6.2,9.7,7.8

In [52]:
no2_sub.isna().sum()

TimePeriod             0
GeoType                0
GeoID                  0
GeoRank                0
Geography              0
10th percentile ppb    0
90th percentile ppb    0
Mean ppb               0
dtype: int64

In [53]:
no2_sub.duplicated().sum()

0

In [62]:
# filter rows to keep Annual Average rows
no2_sub_1= no2_sub[no2_sub['TimePeriod'].str.startswith("Annual Average")]

In [63]:
no2_sub_1.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,10th percentile ppb,90th percentile ppb,Mean ppb
137,Annual Average 2022,Borough,3,1,Manhattan,16.0,23.3,19.1
139,Annual Average 2022,Borough,5,1,Staten Island,8.4,13.9,11.2
140,Annual Average 2022,Citywide,1,0,New York City,10.8,18.1,14.7
560,Annual Average 2021,Borough,3,1,Manhattan,17.0,23.7,20.0
562,Annual Average 2021,Borough,5,1,Staten Island,10.1,15.8,12.8

In [54]:
pm_2_5_sub= pm_2_5[pm_2_5["Geography"].isin(rows_to_keep)]

In [55]:
pm_2_5_sub.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,10th percentile mcg/m3,90th percentile mcg/m3,Mean mcg/m3
137,Annual Average 2022,Borough,3,1,Manhattan,6.1,8.8,7.0
139,Annual Average 2022,Borough,5,1,Staten Island,4.9,5.5,5.2
140,Annual Average 2022,Citywide,1,0,New York City,5.1,6.5,5.8
278,Summer 2022,Borough,3,1,Manhattan,7.0,8.5,7.5
280,Summer 2022,Borough,5,1,Staten Island,5.6,6.2,5.8

In [56]:
pm_2_5_sub.isna().sum()

TimePeriod                0
GeoType                   0
GeoID                     0
GeoRank                   0
Geography                 0
10th percentile mcg/m3    0
90th percentile mcg/m3    0
Mean mcg/m3               0
dtype: int64

In [57]:
pm_2_5_sub.duplicated().sum()

0

In [64]:
# filter rows to keep Annual Average rows
pm_2_5_sub_1= pm_2_5_sub[pm_2_5_sub["TimePeriod"].str.startswith("Annual Average")]

In [65]:
pm_2_5_sub_1.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,10th percentile mcg/m3,90th percentile mcg/m3,Mean mcg/m3
137,Annual Average 2022,Borough,3,1,Manhattan,6.1,8.8,7.0
139,Annual Average 2022,Borough,5,1,Staten Island,4.9,5.5,5.2
140,Annual Average 2022,Citywide,1,0,New York City,5.1,6.5,5.8
560,Annual Average 2021,Borough,3,1,Manhattan,6.7,8.7,7.4
562,Annual Average 2021,Borough,5,1,Staten Island,6.0,6.4,6.2

In [86]:
# to merge datasets based on GeoID and TimePeriod, both of them must have a 
#same data type so I have to delete prefix Annual Average from TimePeriod column

#Remove the 'Annual' prefix from the 'TimePeriod' in no2_sub_1
no2_sub_1 = no2_sub_1.copy()
no2_sub_1["TimePeriod"] = no2_sub_1["TimePeriod"].str.replace("Annual Average", "")

In [87]:
no2_sub_1.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,10th percentile ppb,90th percentile ppb,Mean ppb
137,2022,Borough,3,1,Manhattan,16.0,23.3,19.1
139,2022,Borough,5,1,Staten Island,8.4,13.9,11.2
140,2022,Citywide,1,0,New York City,10.8,18.1,14.7
560,2021,Borough,3,1,Manhattan,17.0,23.7,20.0
562,2021,Borough,5,1,Staten Island,10.1,15.8,12.8

In [85]:
# to merge datasets based on GeoID and TimePeriod, both of them must have a 
#same data type so I have to delete prefix Annual Average from TimePeriod column

#Remove the 'Annual' prefix from the 'TimePeriod' in pm_2_5_sub_1
pm_2_5_sub_1 = pm_2_5_sub_1.copy()

pm_2_5_sub_1["TimePeriod"] = pm_2_5_sub_1["TimePeriod"].str.replace("Annual Average", "")

In [88]:
pm_2_5_sub_1.head()

,TimePeriod,GeoType,GeoID,GeoRank,Geography,10th percentile mcg/m3,90th percentile mcg/m3,Mean mcg/m3
137,2022,Borough,3,1,Manhattan,6.1,8.8,7.0
139,2022,Borough,5,1,Staten Island,4.9,5.5,5.2
140,2022,Citywide,1,0,New York City,5.1,6.5,5.8
560,2021,Borough,3,1,Manhattan,6.7,8.7,7.4
562,2021,Borough,5,1,Staten Island,6.0,6.4,6.2

In [89]:
# Based on the resulte from .info() columns of "Timeperiod in no2  and pm_2_5 datasets were object that must be int
#to be matched with "GeoID" column.
#now we can match the data type of both columns "TimePeriod" and "GeoID"
no2_sub_1["TimePeriod"]= no2_sub_1["TimePeriod"].astype(int)
pm_2_5_sub_1["TimePeriod"]=pm_2_5_sub_1["TimePeriod"].astype(int)

In [93]:
pm_2_5_sub_1["TimePeriod"].info()

<class 'pandas.core.series.Series'>
Int64Index: 42 entries, 137 to 4423
Series name: TimePeriod
Non-Null Count  Dtype
--------------  -----
42 non-null     int64
dtypes: int64(1)
memory usage: 672.0 bytes

In [96]:
no2_sub_1["TimePeriod"].info()

<class 'pandas.core.series.Series'>
Int64Index: 42 entries, 137 to 4423
Series name: TimePeriod
Non-Null Count  Dtype
--------------  -----
42 non-null     int64
dtypes: int64(1)
memory usage: 672.0 bytes

In [97]:
# Drop unneccessary columns
#List the columns that want to drop
columns_to_drop=["GeoType","GeoRank"]

In [98]:
## Create a new DataFrame with only the necessary columns
asthma_adults_sub_drop= asthma_adults_sub.drop(columns_to_drop, axis=1)

In [99]:
asthma_adults_sub_drop.head()

,TimePeriod,GeoID,Geography,"Age-adjusted rate per 10,000","Estimated annual rate per 10,000",Number
103,2020,3,Manhattan,44.7,43.5,"6,290"
105,2020,5,Staten Island,35.1,33.2,"1,287"
106,2020,1,New York City,48.4,47.7,"33,238"
210,2019,3,Manhattan,73.5,71.1,"10,543"
212,2019,5,Staten Island,55.4,52.3,"2,066"

In [100]:
asthma_age_4_sub_drop= asthma_age_4_sub.drop(columns_to_drop, axis=1)

In [101]:
asthma_age5_17_sub_drop=asthma_age5_17_sub.drop(columns_to_drop, axis=1)

In [102]:
no2_sub_1_drop=no2_sub_1.drop(columns_to_drop, axis=1)

In [105]:
pm_2_5_sub_1_drop=pm_2_5_sub_1.drop(columns_to_drop, axis=1)

In [ ]:
#joining data

In [109]:
# rename the common columns except 'GeoID' to merge dataframes
asthma_adults_sub_drop= asthma_adults_sub_drop.rename(columns={'Geography':'Geography_ad'})

asthma_age_4_sub_drop= asthma_age_4_sub_drop.rename(columns={'Geography':'Geography_ag_4'})

asthma_age5_17_sub_drop= asthma_age5_17_sub_drop.rename(columns={'Geography':'Geography_ag5_17'})

no2_sub_1_drop=no2_sub_1_drop.rename(columns={'Geography':'Geography_ag5_17'})

pm_2_5_sub_1_drop=pm_2_5_sub_1_drop.rename(columns={'Geography':'Geography_ag5_17'})

In [130]:
# merge filtered DataFrames
merge1= pd.merge(asthma_adults_sub_drop,asthma_age_4_sub_drop,on=["GeoID","TimePeriod"], how= "inner")

In [131]:
merge2=pd.merge(merge1,asthma_age5_17_sub_drop, on=["GeoID","TimePeriod"], how= "inner")

In [132]:
merge3= pd.merge(merge2,no2_sub_1_drop,on=["GeoID","TimePeriod"], how= "inner")

In [133]:
merge4=pd.merge(merge3,pm_2_5_sub_1_drop,on=["GeoID","TimePeriod"], how= "inner")

In [136]:
merge4

,TimePeriod,GeoID,Geography_ad_x,"Age-adjusted rate per 10,000","Estimated annual rate per 10,000_x",Number_x,Geography_ad_y,"Estimated annual rate per 10,000_y",Number_y,Geography_ag5_17_x,"Estimated annual rate per 10,000",Number,Geography_ag5_17_y,10th percentile ppb,90th percentile ppb,Mean ppb,Geography_ag5_17,10th percentile mcg/m3,90th percentile mcg/m3,Mean mcg/m3
0,2020,3,Manhattan,44.7,43.5,"6,290",Manhattan,58.6,454,Manhattan,65.9,"1,088",Manhattan,17.7,24.4,20.5,Manhattan,6.2,9.0,7.2
1,2020,5,Staten Island,35.1,33.2,"1,287",Staten Island,33.9,94,Staten Island,27.3,218,Staten Island,9.2,14.1,11.6,Staten Island,5.1,5.9,5.5
2,2020,1,New York City,48.4,47.7,"33,238",New York City,62.4,"3,357",New York City,57.1,"7,246",New York City,11.0,19.1,15.2,New York City,5.4,6.8,6.1
3,2019,3,Manhattan,73.5,71.1,"10,543",Manhattan,193.0,"1,551",Manhattan,185.6,"3,046",Manhattan,17.7,26.6,21.7,Manhattan,6.8,10.6,8.3
4,2019,5,Staten Island,55.4,52.3,"2,066",Staten Island,91.8,264,Staten Island,73.1,585,Staten Island,9.0,15.6,11.9,Staten Island,5.5,6.4,5.9
5,2019,1,New York City,78.3,77.1,"54,166",New York City,196.4,"10,902",New York City,152.5,"19,034",New York City,10.6,20.2,15.6,New York City,5.7,7.8,6.6
6,2018,3,Manhattan,86.8,84.0,"11,725",Manhattan,229.4,"1,776",Manhattan,225.1,"3,501",Manhattan,19.4,28.8,23.4,Manhattan,7.2,10.3,8.5
7,2018,5,Staten Island,64.0,60.2,"2,246",Staten Island,109.3,300,Staten Island,84.9,645,Staten Island,9.9,16.8,12.9,Staten Island,6.0,6.9,6.4
8,2018,1,New York City,89.9,88.4,"58,907",New York City,240.3,"12,852",New York City,183.3,"21,831",New York City,11.5,21.5,17.0,New York City,6.1,8.1,7.0
9,2017,1,New York City,NaN,92.5,"61,909",New York City,253.7,"13,865",New York City,195.3,"23,418",New York City,12.4,21.8,17.8,New York City,6.5,8.6,7.4
10,2016,3,Manhattan,95.5,91.7,"12,872",Manhattan,277.8,"2,250",Manhattan,261.4,"4,138",Manhattan,19.9,29.9,24.4,Manhattan,7.7,10.7,9.0
11,2016,5,Staten Island,59.1,55.5,"2,062",Staten Island,135.8,365,Staten Island,81.4,629,Staten Island,10.3,17.5,13.5,Staten Island,6.3,7.5,6.8
12,2016,1,New York City,99.1,98.1,"66,229",New York City,292.6,"16,187",New York City,215.3,"26,525",New York City,12.2,21.7,17.6,New York City,6.4,8.9,7.4
13,2015,1,New York City,†,†,†,New York City,307.0,"17,228",New York City,223.0,"27,355",New York City,12.8,22.4,18.4,New York City,7.3,10.0,8.6
14,2014,3,Manhattan,106.6,102.4,"14,294",Manhattan,293.4,"2,502",Manhattan,272.1,"4,250",Manhattan,21.1,34.2,26.7,Manhattan,9.4,13.1,10.8
15,2014,5,Staten Island,73.7,71.3,"2,626",Staten Island,142.8,393,Staten Island,110.0,852,Staten Island,11.2,17.9,14.2,Staten Island,8.0,9.0,8.4
16,2014,1,New York City,114.7,114.3,"76,396",New York City,319.8,"18,149",New York City,231.4,"28,364",New York City,13.3,23.0,18.9,New York City,8.0,10.3,8.9
17,2013,3,Manhattan,101.6,97.7,"13,586",Manhattan,310.8,"2,610",Manhattan,278.7,"4,360",Manhattan,22.5,35.6,28.0,Manhattan,9.2,13.0,10.7
18,2013,5,Staten Island,73.3,71.6,"2,625",Staten Island,187.9,519,Staten Island,99.3,778,Staten Island,10.2,18.3,13.8,Staten Island,7.6,8.6,8.0
19,2013,1,New York City,114.0,113.7,"75,473",New York City,354.5,"19,765",New York City,230.6,"28,370",New York City,12.6,23.6,18.8,New York City,7.7,10.0,8.6
20,2012,3,Manhattan,109.0,104.9,"14,537",Manhattan,356.1,"2,960",Manhattan,290.6,"4,549",Manhattan,23.0,36.7,28.7,Manhattan,9.6,13.1,10.9
21,2012,5,Staten Island,85.9,84.3,"3,069",Staten Island,188.6,528,Staten Island,113.8,898,Staten Island,11.2,18.8,14.5,Staten Island,7.9,8.9,8.3
22,2012,1,New York City,118.3,118.2,"77,792",New York City,368.2,"20,065",New York City,229.9,"28,353",New York City,13.3,24.3,19.6,New York City,8.0,10.3,8.9
23,2011,3,Manhattan,105.1,101.7,"13,959",Manhattan,371.3,"2,982",Manhattan,293.4,"4,594",Manhattan,25.4,38.6,31.0,Manhattan,10.8,13.8,11.9
24,2011,5,Staten Island,78.0,77.1,"2,801",Staten Island,204.4,579,Staten Island,117.0,931,Staten Island,12.0,21.2,16.2,Staten Island,9.0,10.0,9.4
25,2011,1,New York City,109.5,109.6,"71,351",New York City,370.2,"19,804",New York City,218.6,"27,061",New York City,14.7,26.7,21.6,New York City,9.1,11.5,10.1
26,2010,3,Manhattan,100.0,97.0,"13,121",Manhattan,389.5,"2,973",Manhattan,271.9,"4,290",Manhattan,24.9,38.6,30.6,Manhattan,10.2,14.0,11.6
27,2010,5,Staten Island,78.1,76.5,"2,755",Staten Island,167.3,474,Staten Island,101.5,820,Staten Island,11.8,20.1,15.4,Staten Island,8.3,9.4,8.8
28,2010,1,New York City,107.2,107.4,"69,536",New York City,384.1,"20,013",New York City,199.3,"25,100",New York City,14.1,26.3,21.1,New York City,8.4,10.9,9.5
29,2009,3,Manhattan,111.0,107.6,"14,493",Manhattan,385.8,"2,993",Manhattan,299.9,"4,776",Manhattan,27.8,42.6,33.9,Manhattan,11.2,14.9,12.6
30,2009,5,Staten Island,80.4,79.5,"2,843",Staten Island,191.9,544,Staten Island,101.6,822,Staten Island,13.3,21.4,16.8,Staten Island,9.3,10.5,9.8
31,2009,1,New York City,108.7,109.1,"69,944",New York City,389.3,"20,330",New York City,202.7,"25,573",New York City,15.4,28.6,22.7,New York City,9.3,11.9,10.4

In [135]:
merge4.shape

(32, 20)

In [137]:
merge4.isna().sum()

TimePeriod                            0
GeoID                                 0
Geography_ad_x                        0
Age-adjusted rate per 10,000          1
Estimated annual rate per 10,000_x    0
Number_x                              0
Geography_ad_y                        0
Estimated annual rate per 10,000_y    0
Number_y                              0
Geography_ag5_17_x                    0
Estimated annual rate per 10,000      0
Number                                0
Geography_ag5_17_y                    0
10th percentile ppb                   0
90th percentile ppb                   0
Mean ppb                              0
Geography_ag5_17                      0
10th percentile mcg/m3                0
90th percentile mcg/m3                0
Mean mcg/m3                           0
dtype: int64

In [138]:
merge4.duplicated().sum()

0